* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(41, 41, 41);
}

main {
  width: 400px;
  height: 80%;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

h1 {
  font-size: large;
  margin: 10px;
  color: rgb(130, 130, 130);
}

.top-section {
  width: 100%;
  height: 200px;
  position: relative;
}
.top-section input {
  position: absolute;
  height: 50px;
  width: 80%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: end;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(130, 130, 130);
}
.top-section input::placeholder {
  color: rgb(130, 130, 130);
}

.bottom-section {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2px;
}
.tombol {
  margin: 2px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(243, 243, 243);
  border: none;
  cursor: pointer;
  color: rgb(130, 130, 130);
  border-radius: 5px;
  /* transition: background-color 0.2s; */
}

button:hover {
  transition: background-color 0.2 ease-in-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.toogle-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toogle-container input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(234, 234, 234);
  appearance: none;
  cursor: pointer;
  transition: 0.2s;
}

.toogle-container input:checked {
  background-color: rgb(41, 41, 41);
}

/* dark mode */

.dark-mode {
  background-color: rgb(218, 218, 218);
}

.dark-mode main {
  background-color: rgb(41, 41, 41);
}
.dark-mode main h1 {
  color: aliceblue;
}

.dark-mode .top-section input {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
}

.dark-mode .top-section input::placeholder {
  color: aliceblue;
}

.dark-mode .bottom-section button {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
}
.dark-mode .bottom-section button:hover {
  transition: background-color 0.2 ease-in-out;
  background-color: rgba(75, 75, 75, 0.5);
}
