* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(41, 41, 41);
}

main {
  width: 400px;
  height: 80%;
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

h1 {
  font-size: large;
  margin: 10px;
  color: rgb(130, 130, 130);
}

.top-section {
  width: 100%;
  height: 200px;
  position: relative;
}
.top-section input {
  position: absolute;
  height: 50px;
  width: 80%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: end;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(130, 130, 130);
}

.bottom-section {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2px;
}
.tombol {
  margin: 2px;
}

button {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(243, 243, 243);
  border: none;
  transition: 0.2s;
  cursor: pointer;
  color: rgb(130, 130, 130);
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.toogle-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.toogle-container button {
  width: 20px;
  height: 20px;
  padding: 5px;
  color: black;
  background-color: white;
  border-radius: 3px;
}

.toogle-container label {
  color: white;
  font-size: 10px;
}

/*
.toogle-container input {
  visibility: hidden;
}

.toogle-container label {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.toogle-container label:hover {
  background-color: rgb(211, 211, 211);
} */
